/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/*

Color prompts: 

- Purple: `#2b1d34`
- Background White: `#c5b6a2`
- Foreground Purple: `#413344`
- Foreground White: `#ecdcbd`
- Logo Colors Extracted:
	- `#594C59`
	- `#322440`
	- `#1E1526`
	- `#F2E1C2`
	- `#BFB0A3`
	- Color Blind Safe! 
		- Link color that works? - `#95CFFF`
		- Brighter color to use - `#A375D1`
	- Themes:
		- `#A4958C`, `#564754`, `#7E6E6F`
		- `#A7978D #D1C1AA #8E817C #4C3D4C #7D706F`
- Logo Colors Extracted, Bright:
	- Color Blind Safe! - `#322440 #1E1526 #F2E1C2 #D9C6B0 #8C7F7B`

*/

/* Our default values set as CSS variables */
:root {
  /* basic colors from logo */
  --dark-grey-purple: #594C59;
  --mid-black: #322440;
	--black: #1E1526;
	--eggshell: #F2E1C2;
	--light-grey: #BFB0A3;
  
  /* adapted colors inspired by logo */
  --light-blue: #95CFFF;
  --dark-purple: #A375D1;
  
  --grey-orange: #A4958C;
  --grey-purple: #564754;
  --grey-red: #7E6E6F;
  
  --light-grey-orange: #A7978D;
  --grey-eggshell: #D1C1AA;
  --grey: #8E817C;
  --dark-purple-2: #4C3D4C;
  --grey-orange-2: #7D706F;
  
  /*bright colorblind safe*/
  --dark-purple-3: #322440;
  --black-purple: #1E1526;
  --light-grey-orange-2: #F2E1C2;
  --grey-2: #D9C6B0;
  --grey-red-2: #8C7F7B;
  
  
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* themes */

.logo-theme {
  --color-bg: var(--dark-grey-purple);
  --color-text-main: var(--eggshell);
  --color-primary: var(--black);
  --color-text-secondary: var( --color-text-main);
}

.logo-inverted-theme {
  --color-bg: var(--eggshell);
  --color-text-main: var(--dark-grey-purple);
  --color-primary: var(--black);
  --color-text-secondary: var(--light-grey);
}

.logo-bright-theme {
  --color-bg: var(--dark-purple-3);
  --color-text-main: var(--light-grey-orange-2);
  --color-primary: var(--grey-red-2);
  --color-text-secondary: var(--black-purple);
}

.logo-bright-inverted-theme {
  --color-bg: var(--light-grey-orange-2);
  --color-text-main: var(--dark-purple-3);
  --color-primary: var(--grey-2);
  --color-text-secondary: var(--color-text-main);
}


/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

body {
  font: var(--font-family); 
}

h1, h2, h3, h4, h5, h6 {
  font: var(--font-family-header);
}

.container {
  height: 100vh;
}

.bg-main {
  background: var(--color-bg);
}

.text-color-main {
  color: var(--color-text-main)
}

.fore-main {
  background: var(--color-primary);
}

.fore-main-as-border {
  border: 1 solid var(--color-primary);
}

/* gen via https://grid.layoutit.com/ */
.container {  
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: 0.5fr 1.9fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tower-left-tip main-header tower-right-tip"
    "tower-left main-content tower-right"
    "footer-full footer-full footer-full";
}

.main-content { 
  grid-area: main-content; 
  padding: 10px;
}

.main-header { grid-area: main-header; }

.tower-left { 
  grid-area: tower-left;
  background-image: url("https://cdn.glitch.global/f20aef1f-8ae4-469e-a569-dd7a95c2daac/towers-left.png?v=1725145984861");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.tower-right { 
  grid-area: tower-right;
  background-image: url("https://cdn.glitch.global/f20aef1f-8ae4-469e-a569-dd7a95c2daac/towers-right.png?v=1725147045973");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;      
}

.footer-full { 
  grid-area: footer-full;
  color: var(--color-text-secondary);
  color: white;
  font-weight: bolder;
  background-image: url("https://cdn.glitch.global/f20aef1f-8ae4-469e-a569-dd7a95c2daac/houses.png?v=1725147050740");
  background-size: contain;
  background-repeat: repeat-x;
  background-position: bottom;
  padding: 40px;
  padding-top: 50px;
}

.tower-left-tip { grid-area: tower-left-tip; }

.tower-right-tip { grid-area: tower-right-tip; }
